 .navbar {
   position: fixed;
   width: 100%;
   background-color: #333;
   color: white;
   text-align: center;
   padding: 0.5rem 0 0.5rem 0;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   z-index: 10;
 }

 .navbar ul {
   list-style-type: none;
   margin: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px 0 20px;
 }

 .navbar a {
   color: white;
   text-decoration: none;
 }

 .navbar a:hover {
   text-decoration: underline;
 }

 .dropdown-menu {
   position: absolute;
   z-index: 2;
   background-color: white;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   right: 1.8rem;
   top: 2.1rem;
   list-style-type: none;
   padding: 0.5rem;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
 }

 .dropdown-menu li {
   margin-bottom: 0.5rem;
   margin-right: auto;
 }

 .dropdown-menu a,
 .dropdown-menu button {
   color: #333;
   text-decoration: none;
   background: none;
   border: none;
   cursor: pointer;
   display: block;
   text-align: left;
 }

 .dropdown-menu a:hover,
 .dropdown-menu button:hover {
   background-color: #f0f0f0;
 }

 .authentication-actions-container {
   display: flex;
   align-items: center;
 }