.background {
    position: relative;
    background-image: url("../dst+terraria.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    background-color: #edede9;
    text-align: center;
    width: 80%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 12px 3px rgba(0, 0, 0, 0.5);
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 60%;
    min-width: 500px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

.Minecraft {
    background-image: url("../minecraft.jpg");
}

.Terraria {
    background-image: url("../terraria.webp");
}

.DoNotStarveTogether {
    background-image: url("../DST.jpg");
}

@media screen and (max-width: 800px), (max-height: 750px) {
    .wrapper {
        transform: scale(0.85);
    }
}

@media screen and (max-height: 500px) {
    .wrapper {
        transform: scale(0.7);
        width: 150%;
    }
}