.background {
    position: relative;
    background-image: url("../dst+terraria.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 0;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    padding: 20px;
    top: 20%;
    width: 80%;
    min-width: 430px;
    height: 70vh;
    background-color: #edede9;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 8px 12px 3px rgba(0, 0, 0, 0.5);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}