
.button-container, .button-container-hidden {
    position: absolute;
    bottom: 97%;
    left: 270px;
    gap: 3px;
    transform: translateX(-50%);
    /* Центрируем по горизонтали */
    display: flex;
    justify-content: start;
    z-index: 0;
}

.button-container-hidden {
    z-index: 2;
}

.hover-button, .hover-button-hidden {
    position: relative;
    background-color: #edede9;
    color: black;
    border: none;
    padding: 5px 20px 27px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.5);
}

.hover-button-hidden {
    opacity: 0;
    box-shadow: none;
}

.hovered {
    transform: translateY(-8px);
}

@media screen and (max-width: 850px) {
    .button-container, .button-container-hidden{
        left: 230px;
    }
}

@media screen and (max-height: 500px) {
    .button-container, .button-container-hidden{
        left: 280px;
    }
}