.u-section-1 .u-sheet-1 {
  min-height: 624px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  --radius: 8px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -23px;
  margin-bottom: -43px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 624px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-form-1 {
  height: 488px;
  margin: 0 43px 0 17px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  --radius: 8px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  --radius: 8px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  --radius: 8px;
  padding: 10px 19px 10px 17px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 624px;
}

.u-section-1 .u-container-layout-2 {
  padding: 24px 0;
}

.u-section-1 .u-form-2 {
  height: 488px;
  width: 510px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  --radius: 8px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  --radius: 8px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  --radius: 8px;
  padding: 10px 18px 10px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: normal;
    text-transform: none;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-1 .u-form-2 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-2 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-2 {
    width: 340px;
  }
}